name: CI

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    container:
      image: ubuntu:latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Install Dependencies
      run: |
        apt update
        apt install -y libglib2.0-dev meson valac

    - name: Build
      run: |
        meson setup builddir --prefix=/usr -Ddemo=true
        meson compile -C builddir
        meson install -C builddir

  lint:
    runs-on: ubuntu-latest

    container:
      image: valalang/lint

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Lint
      run: io.elementary.vala-lint -d .
